---
- name: Mkdir vector
  become: true
  ansible.builtin.file:
    path: /vector
    state: directory
    mode: "0777"
- name: Download Vector
  become: true
  ansible.builtin.get_url:
    url: "https://packages.timber.io/vector/{{ vector_version }}/vector-{{ vector_version }}-x86_64-unknown-linux-musl.tar.gz"
    dest: "/vector/vector-{{ vector_version }}.tar.gz"
    mode: "0777"
- name: Unarchive Vector
  become: true
  ansible.builtin.unarchive:
    remote_src: true
    src: /vector/vector-{{ vector_version }}.tar.gz
    dest: /vector
    extra_opts: [--strip-components=2]
    mode: "0777"
- name: Vector Configure Template config
  ansible.builtin.template:
    src: templates/vector.yml.j2
    dest: "/vector/config/vector.yaml"
    mode: "0777"
- name: Vector service
  become: true
  ansible.builtin.template:
    src: "templates/vector.service.j2"
    dest: "/etc/systemd/system/vector.service"
    mode: "0777"
    backup: true
  notify: restart vector service
- name: Vector start service
  become: true
  ansible.builtin.service:
    name: vector
    state: started
    daemon_reload: true
  notify: restart vector service